In [1]:
import pandas as pd

In [5]:
kansas_data = pd.read_csv("/Users/omarafifi/Downloads/Differential-Game-Theory-for-SIR-Models-1/Data/COVID-19_Case___Death_Trends_by_Date_20250120.csv")

kansas_data

                       Date  Total Cases  New Cases  Total Deaths  New Deaths
0    03/10/2020 12:00:00 AM            0          0             0           0
1    03/11/2020 12:00:00 AM            0          0             0           0
2    03/12/2020 12:00:00 AM            0          0             0           0
3    03/13/2020 12:00:00 AM            0          0             0           0
4    03/14/2020 12:00:00 AM            1          1             0           0
..                      ...          ...        ...           ...         ...
994  11/29/2022 12:00:00 AM       114041         81          1156           0
995  11/30/2022 12:00:00 AM       114122         81          1156           0
996  12/01/2022 12:00:00 AM       114165         43          1156           0
997  12/02/2022 12:00:00 AM       114222         57          1156           0
998  12/03/2022 12:00:00 AM       114260         38          1156           0

[999 rows x 5 columns]